In [5]:
import geopandas as gpd
import pandas as pd
import sys
import json
import numpy as np
import rasterio as rs
from rasterio.mask import mask
from rasterio.warp import calculate_default_transform, reproject, Resampling

sys.path.append('../../src/')
from evaluation import error_adjustments as err
from analyses import area_assessments as area

%load_ext autoreload
%autoreload 2

In [6]:
## background has higher recall, area is underrepresented
## monoculture has higher recall, area is underrepresented
## agroforestry has higher precision, area is overrepresented
## natural has higher precision, area is overrepresented

In [3]:
def reproject_to_meters(input_raster, output_raster, target_crs='EPSG:3857'):
    
    with rs.open(input_raster) as src:
        transform, width, height = calculate_default_transform(
            src.crs, target_crs, src.width, src.height, *src.bounds
        )
        kwargs = src.meta.copy()
        kwargs.update({
            'crs': target_crs,
            'transform': transform,
            'width': width,
            'height': height
        })

        with rs.open(output_raster, 'w', **kwargs) as dst:
            for i in range(1, src.count + 1):
                reproject(
                    source=rs.band(src, i),
                    destination=rs.band(dst, i),
                    src_transform=src.transform,
                    src_crs=src.crs,
                    dst_transform=transform,
                    dst_crs=target_crs,
                    resampling=Resampling.nearest
                )

In [5]:
prj_districts = gpd.read_file('../../data/epa_districts/Project_Districts.shp')
input_raster = '/Users/jessica.ertel/github/plantation_classifier/tmp/ghana/preds/mosaic/final_2024-10-29.tif'
repj_raster = '/Users/jessica.ertel/github/plantation_classifier/tmp/ghana/preds/mosaic/reprojected_2024-10-29.tif'

# reproject inputs from degrees to meters for area assessment calcs
dst_crs = 'EPSG:3857'
reproject_to_meters(input_raster, repj_raster, dst_crs)
prj_districts = prj_districts.to_crs(dst_crs)

with open("../../data/validation/ci_error_adjustment.json", "r") as f:
    error = json.load(f)

area_assess = area.calculate_adjusted_area(repj_raster, 
                                           prj_districts, 
                                           error, 
                                           '../../data/area_assessments/adj_area_assessment_042125.csv')

In [8]:
area_assess

,No vegetation,Monoculture,Agroforestry,Natural,No data,district
0,7614.0,3299.0,40729.0,13189.0,57926.96,Adansi South
1,5893.0,2016.0,73866.0,11732.0,135822.38,Asante Akim South
2,4294.0,2245.0,50564.0,2351.0,51943.00,Assin North
3,14647.0,15769.0,120730.0,12695.0,168338.32,Atwima Mponua
4,117593.0,16.0,12590.0,1889.0,90072.34,Bawku West
5,4521.0,2287.0,31590.0,9469.0,98417.49,Bosome Freho
6,127505.0,3.0,19542.0,2944.0,195523.07,Builsa South
7,145989.0,1.0,13536.0,15317.0,142670.70,Daffiama Bussie Issa
8,1757.0,1691.0,9392.0,2489.0,40548.41,Juaben Municipal
9,87405.0,39.0,15269.0,2006.0,146231.46,Kasena Nankana West
10,250276.0,229.0,18401.0,15029.0,104340.10,Kwahu Afram Plains North
11,233457.0,207.0,55543.0,47704.0,256791.89,Kwahu Afram Plains South
12,30608.0,360.0,22711.0,7610.0,54912.50,Kwahu East
13,43046.0,337.0,23594.0,12881.0,85032.81,Kwahu South
14,4092.0,479.0,24938.0,3624.0,72148.94,Kwahu West
15,203001.0,51.0,39042.0,8052.0,166178.62,Mamprugu Moagduri
16,302786.0,5.0,61953.0,94031.0,327314.26,Sawla-Tuna-Kalba
17,87156.0,448.0,148881.0,75913.0,440413.30,Sekyere Afram Plains North
18,183842.0,202.0,41392.0,107819.0,250764.16,Sene West
19,445721.0,20.0,105945.0,33496.0,297106.98,Sissala East
20,209260.0,17.0,31388.0,6870.0,235461.40,Sissala West
21,94107.0,11.0,8403.0,2090.0,91051.33,Talensi
22,4426.0,12993.0,47811.0,20908.0,82777.25,Twifo Atti-Morkwa
23,347118.0,6.0,51635.0,84335.0,309492.31,Wa East
24,286623.0,14.0,89184.0,115188.0,486295.36,West Gonja
25,301808.0,28.0,24644.0,2269.0,259363.40,West Mamprusi Municipal

## Create table for publication

Cleans up and structures the results of the error adjusted area assessment table for input into the technical note.

In [15]:
area.area_assessment_table('adj_area_assessment_042125.csv',
                    'adj_area_assessment_pubfigure_081225.csv',
                     include_summary_row=True)

Total area across all 26 districts (ha):
Monoculture (ha)       42773
Agroforestry (ha)    1183273
Natural (ha)          711900
dtype: int64

,Zone,district,Monoculture (ha),Agroforestry (ha),Natural (ha)
0,north,West Mamprusi Municipal,30,24640,2270
1,north,Wa East,10,51640,84340
2,north,Talensi,10,8400,2090
3,north,Bawku West,20,12590,1890
4,north,Sissala West,20,31390,6870
5,north,Builsa South,0,19540,2940
6,north,Daffiama Bussie Issa,0,13540,15320
7,north,Sissala East,20,105940,33500
8,north,Kasena Nankana West,40,15270,2010
9,north,West Gonja,10,89180,115190
10,north,Sawla-Tuna-Kalba,0,61950,94030
11,north,Mamprugu Moagduri,50,39040,8050
12,south,Twifo Atti-Morkwa,12990,47810,20910
13,south,Sene West,200,41390,107820
14,south,Sekyere Afram Plains North,450,148880,75910
15,south,Adansi South,3300,40730,13190
16,south,Kwahu South,340,23590,12880
17,south,Kwahu Afram Plains South,210,55540,47700
18,south,Kwahu Afram Plains North,230,18400,15030
19,south,Juaben Municipal,1690,9390,2490
20,south,Bosome Freho,2290,31590,9470
21,south,Atwima Mponua,15770,120730,12700
22,south,Assin North,2240,50560,2350
23,south,Asante Akim South,2020,73870,11730
24,south,Kwahu West,480,24940,3620
25,south,Kwahu East,360,22710,7610
26,NORTH,TOTAL,210,473130,368490
27,SOUTH,TOTAL,42560,710140,343410

### In-text statistics

In [14]:
with open("../../data/validation/ci_error_adjustment.json", "r") as f:
    error = json.load(f)

error

{'overall_accuracy': [0.6605820695807314, 0.027219000892060585],
 'Monoculture': {'recall': [0.8, 0.2],
  'precision': [0.2600760538896132, 0.12453933072577142],
  'adj': 3.0760232940920904},
 'No vegetation': {'recall': [0.899482320888658, 0.02734973167844318],
  'precision': [0.7037827678338109, 0.03833655308379874],
  'adj': 1.2780681227208721},
 'Agroforestry': {'recall': [0.5287270764738249, 0.04639592178972898],
  'precision': [0.6981959088700016, 0.04880965183435426],
  'adj': 0.7572761022469262},
 'Natural': {'recall': [0.4596836237383731, 0.06132923055588704],
  'precision': [0.5795407200450948, 0.06722544910913414],
  'adj': 0.793186065860229}}

In [2]:
368500+343410

711910

## Other // Not using

In [67]:
#calculate total area of raster (just for reference)
src = rs.open(repj_raster)
data = src.read(1)
valid_px = np.sum(data != src.nodata)
pixel_width = src.transform[0]  # X resolution
pixel_height = -src.transform[4]  # Y resolution
px_size = pixel_width * pixel_height
total_area_in_m2 = valid_px * (px_size)
total_area_in_ha = total_area_in_m2 / 10000

# sum all area assessments
# drops nodata column
district_total_area = df.iloc[:, :-2].sum().sum()

round(total_area_in_ha), round(district_total_area)

(5247876, 5247333)

In [70]:
df['ag_area'] = df.agroforestry + df.monoculture
df['nat_area'] = df.natural
df_pubfigure = df[['district', 'ag_area', 'nat_area']]
df_pubfigure

                      district    ag_area   nat_area
0                 Adansi South   54855.55   16628.07
1            Asante Akim South   98196.58   14791.46
2                  Assin North   67500.35    2964.08
3                Atwima Mponua  164552.60   16005.69
4                   Bawku West   16630.87    2381.25
5                 Bosome Freho   42459.31   11938.37
6                 Builsa South   25806.98    3711.35
7         Daffiama Bussie Issa   17875.03   19311.11
8             Juaben Municipal   12951.70    3137.66
9          Kasena Nankana West   20175.93    2528.68
10    Kwahu Afram Plains North   24373.48   18948.09
11    Kwahu Afram Plains South   73413.76   60141.82
12                  Kwahu East   30107.81    9594.09
13                 Kwahu South   31266.19   16239.89
14                  Kwahu West   33086.97    4568.67
15           Mamprugu Moagduri   51572.53   10150.94
16            Sawla-Tuna-Kalba   81811.75  118548.94
17  Sekyere Afram Plains North  196746.54   95706.79
18                   Sene West   54725.46  135931.87
19                Sissala East  139909.56   42230.16
20                Sissala West   41454.69    8661.84
21                     Talensi   11100.47    2635.45
22           Twifo Atti-Morkwa   67359.45   26359.50
23                     Wa East   68186.76  106324.96
24                  West Gonja  117774.76  145221.81
25     West Mamprusi Municipal   32552.46    2860.12